table inet filter {
  chain input {
    type filter hook input priority 0; policy accept;
  }

  chain forward {
    type filter hook forward priority 0; policy drop;
    ct state established,related accept
    iifname "eth0" oifname "wlan0" accept
    iifname { "wlan0", "tailscale0" } oifname "eth0" tcp dport { {{ server_internal_ssh_port }}, {{ immich_port }}, {{ paperless_port }}, {{ anki_port }}, {{ jellyfin_port }}, {{ navidrome_port }}, {{ qbittorrent_webui_port }} } accept
    iifname "wlan0" oifname "eth0" tcp dport {{ qbittorrent_torrent_port }} accept
    iifname "wlan0" oifname "eth0" udp dport {{ qbittorrent_torrent_port }} accept
  }

  chain output {
    type filter hook output priority 0; policy accept;
  }
}

table ip nat {
  chain prerouting {
    type nat hook prerouting priority -100;
    iifname { "wlan0", "tailscale0" } tcp dport {{ server_external_ssh_port }} dnat to {{ server_subnet_ip }}:{{ server_internal_ssh_port }}
    iifname { "wlan0", "tailscale0" } tcp dport {{ immich_port }} dnat to {{ server_subnet_ip }}:{{ immich_port }}
    iifname { "wlan0", "tailscale0" } tcp dport {{ paperless_port }} dnat to {{ server_subnet_ip }}:{{ paperless_port }}
    iifname { "wlan0", "tailscale0" } tcp dport {{ anki_port }} dnat to {{ server_subnet_ip }}:{{ anki_port }}
    iifname { "wlan0", "tailscale0" } tcp dport {{ jellyfin_port }} dnat to {{ server_subnet_ip }}:{{ jellyfin_port }}
    iifname { "wlan0", "tailscale0" } tcp dport {{ navidrome_port }} dnat to {{ server_subnet_ip }}:{{ navidrome_port }}
    iifname { "wlan0", "tailscale0" } tcp dport {{ qbittorrent_webui_port }} dnat to {{ server_subnet_ip }}:{{ qbittorrent_webui_port }}
    iifname { "wlan0", "tailscale0" } tcp dport {{ qbittorrent_torrent_port }} dnat to {{ server_subnet_ip }}:{{ qbittorrent_torrent_port }}
    iifname { "wlan0", "tailscale0" } udp dport {{ qbittorrent_torrent_port }} dnat to {{ server_subnet_ip }}:{{ qbittorrent_torrent_port }}
  }

  chain postrouting {
    type nat hook postrouting priority 100;
    oifname "wlan0" masquerade
  }
}