---
services:
  m2web:
    image: m2web:latest
    group_add:
      - "${M2WEBDATA_GID}"
    ports:
      - "${M2_PORT}:${M2_PORT}"
    restart: unless-stopped
    volumes:
      - "{{ m2web_dir }}:/root/m2/extern:ro"