# do daily/weekly/monthly maintenance
# min   hour    day     month   weekday command
*/15    *       *       *       *       run-parts /etc/periodic/15min
@hourly         ID=periodic.hourly      run-parts /etc/periodic/hourly
@daily          ID=periodic.daily       run-parts /etc/periodic/daily
@weekly         ID=periodic.weekly      run-parts /etc/periodic/weekly
@monthly        ID=periodic.monthly     run-parts /etc/periodic/monthly