alpine-base
anki
bridge
busybox-mdev-openrc
dcron
doas
docker
docker-cli-compose
dosfstools
e2fsprogs
git
grub-efi
libvirt
libvirt-qemu
linux-firmware-i915
linux-firmware-intel
linux-lts
lsblk
openssh
openssl
python3
qemu-modules
qemu-system-x86_64
rsync
virt-install
zfs