adwaita-icon-theme
alpine-base
blueman
busybox-mdev-openrc
clang{{ gateway_clang_version }}
doas
dosfstools
e2fsprogs
eudev
font-noto
font-noto-cjk
foot
gcc
git
iw
jpeg
jpeg-dev
libinput
libinput-dev
libpng
libpng-dev
librewolf
libxkbcommon
libxkbcommon-dev
linux-firmware-brcm
linux-firmware-other
linux-rpi
lld{{ gateway_clang_version }}
make
mesa-dri-gallium
meson
musl-dev
nftables
openresolv
openssh
openssl
pciutils
pixman
pixman-dev
pkgconf
python3
raspberrypi-bootloader
rsync
seatd
tailscale
tar
thunar
tllist
tllist-dev
tumbler
udev-init-scripts
udev-init-scripts-openrc
wayland
wayland-dev
wayland-protocols
wireless-regdb
wlroots
wlroots-dev
wmenu
wpa_supplicant
zotero